
.top {
    font-family: 'Impact';
    color: red;
    font-size: xx-large;
}

.top1 {
    font-family: 'Impact';
    color: orange;
    font-size: xx-large;
}

.top2 {
    font-family: 'Impact';
    color: green;
    font-size: xx-large;
}

.gallery {
    font-family: 'Impact';
    color: greenyellow;
    font-size: xx-large;
}

.counter {
    font-family: 'Impacti';
    color: orangered;
    font-size: xx-large;
}

.down {
    font-family: 'Microsoft YaHei';
    color: floralwhite;
    font-size: xx-small;
}

.obrazy {
    font-family: 'Impact';
    color: lawngreen;
    font-size: xx-large;
}

.rew {
    font-family: 'Impact';
    color: orangered;
    font-size: xx-large;
}

.que {
    font-family: 'Impact';
    color: yellow;
    font-size: xx-large;
}

.jezyk {
    font-family: 'Impact';
    color: azure;
    font-size: xx-large;
}