
.top {
    font-family: 'Impact';
    color: red;
    font-size: xx-large;
}


.rew {
    font-family: 'Impact';
    color: orangered;
    font-size: xx-large;
}

.obrazy {
    font-family: 'Impact';
    color: lawngreen;
    font-size: xx-large;
}


.que {
    font-family: 'Impact';
    color: yellow;
    font-size: xx-large;
}